.app.dark {
  --bg-color: #f19191;
  --inverted-bg-color: #9a9adf;

  --primary-color: #ffffff;
  --secondary-color: #999797;

  --inverted-primary-color: #000000;
  --inverted-secondary-color: #585656;
}
