.app.light {
  --bg-color: #9a9adf;
  --inverted-bg-color: #f19191;

  --primary-color: #000000;
  --secondary-color: #585656;

  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #999797;
}
