.Navbar {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: right;
  padding: 1rem;
  background: var(--inverted-bg-color);
}

.linkPadding {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
